{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'nba/nba_teams.css' %}" />

<ul>
{% for team in teams %}
<div class="team_info" onmouseover="this.style='background-color:{{ team.color }};';" onmouseout="this.style='background-color:#313842';">
	<div style="display:inline-block;">
	<img src="{{team.logo.url}}" style="width:50; height:50;">
	</div>
	<div style="display:inline-block">
	<a href="{% url 'nba:team_info' team.tri_code %}"
	style="text-decoration:none; color:white">
	<h2>
		{{ team.team_name }}
	</h2>
	</a>
	</div>
</div>
{% endfor %}
</ul>