{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'nba/team_roster.css' %}" />

<img src="{{team.logo.url}}">

<div>
	<h1>{{ team.team_name }}</h1>
	<p id="record" style="margin:0;"> Record: {{team.wins}}-{{team.losses}} </p>
</div>

<h2> Roster </h2>
<table style="border:4px solid {{team.color}};">
	<tr>
		<th></th>
		<th> Points </th>
		<th> Rebounds </th>
		<th> Assists </th>
	</tr>
{% for player in players %}
	<tr>
		<td><a href="{% url 'nba:player_info' tri_code=player.team.tri_code playerId=player.id %}">{{ player.first_name }} {{ player.last_name }}</a></td>
		<td>{{ player.points }}</td>
		<td>{{ player.rebounds }}</td>
		<td>{{ player.assists }}</td>
	</tr>
{% endfor %}
</table>
