body{
	
}

img{
	margin: 0px;
	width: 60px;
	height: 60px;
	display: inline-block;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline;
}

h1{
	margin: 0px;
	font-size: 50px;
	vertical-align: top;
}

div{
	display: inline-block;
	vertical-align: top;
	border: 2px black solid;
	margin-bottom: 10px;
}

#record{
	text-align: center;
}